body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,155,1) 100%, ); 
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(3,0,50);
    background: linear-gradient(0deg, rgb(124, 121, 163) 0%, rgb(223, 223, 226) 35%, rgba(255,255,255,1) 95%);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  h2{
    color: #2fbcf0;
  }
  
  p {
    text-align: center;
  }
  
  .donationInfo {
    margin-top: 30px;
  }
  
  .share {
    margin-top: 50px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .blue {
    font-size: 1em;
    margin: 0;
    color: #2fbcf0;
}