body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 44%, rgba(0,43,135,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container {
    text-align: center;
}
.blue {
    font-size: 3em;
    margin: 0;
    color: #2fbcf0;
}
.life{
    font-size: 1em;
    margin: 0;
    color: #ffffff;
}
p {
    font-size: 1.5em;
    margin: 10px 0;
}
.p2{
    font-size: 1.5em;
    margin: 5px 0;
    text-decoration: none;
    color: #fff;
}
.highlight {
    color: #2fbcf0;
}
.jellyfish {
    margin-top: 20px;
}

.p2:hover{
    color: #00AEEF;
    animation-delay: 2ms;
}
.p2:focus{
    color: rgb(255, 255, 255);
}




/* Media queries para telas menores */

@media only screen and (max-width: 768px) {
    .blue {
        font-size: 2em;
    }
    .life {
        font-size: 0.8em;
    }
    p {
        font-size: 1.2em;
    }
    .p2 {
        font-size: 1em;
    }
}

/* Media queries para telas ainda menores */

@media only screen and (max-width: 480px) {
    .blue {
        font-size: 1.5em;
    }
    .life {
        font-size: 0.6em;
    }
    p {
        font-size: 1em;
    }
    .p2 {
        font-size: 0.8em;
    }
}





















