body {
    font-family: Arial, sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 44%, rgba(0,43,135,1) 100%);
    color: #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {
    color: #b4b4b4;
    padding: 6%;
    text-align: center;
  }
h1 {
    margin-top: 0;
  }

  .container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10%;
  }

  .integrante {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  .integrante:last-child {
    border-bottom: none;
  }


  .integrante p {
    margin-top: 5px;
  }

  .integrante:hover{
    color: #0297ce;
  }

  .chris{
    width: 14%; 
    height: auto; 
    position: absolute;
    top: 20%;
    right: 40%;
    border-radius: 10%;
  }
  .iago{
    width: 11%; 
    height: auto; 
    position: absolute;
    top: 43%;
    right: 40%;
    border-radius: 10%;

  }
  #menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #0297ce;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  #menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  #menu ul li {
    margin-bottom: 10px;
  }
  
  #menu ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  nav ul li a:hover {
    color: #0297ce;
  }
  #toggleMenu {
    border: none;
    cursor: pointer;
  }
 
  
  img{
    width: 2.5%; 
    height: auto; 
    position: absolute;
    top: 0%;
    right: 3%;
}
@keyframes example {
    0% {background-color: rgb(252, 252, 252); right: 0%;  top: 20px;}
    50% {background-color: rgb(33, 47, 71); right: 70px; top: 20px;}
    100% {background-color: rgb(18, 0, 122); right: 0%; top: 20px;}
}

@media only screen and (max-width: 768px) {
  .container {
      max-width: 90%;
  }
  .chris,
  .iago {
      width: 20%;
      right: 30%;
  }
}

/* Media queries para telas ainda menores */

@media only screen and (max-width: 480px) {
  header {
      padding: 3%;
  }
  .container {
      max-width: 95%;
  }
  .chris,
  .iago {
      width: 30%;
      right: 25%;
  }
}