body {
    font-family: Arial, sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 44%, rgba(0,43,135,1) 100%);
    color: #ffffff;
    margin: 0;
    padding: 0;
 }
 .container {
    width: 80%;
    margin: auto;
    padding: 20px;
 }
 header {
    text-align: left;
 }

 h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: #ffffff;
 }
 .blue {
   font-size: 3em;
   margin: 0;
   color: #00AEEF;
   
}
.life{
   font-size: 1em;
   margin: 0;
   color: #ffffff;
}

 section {
    margin-bottom: 3%;
 }
 
 p {
    font-size: 1em;
    line-height: 1.5;
    color: #dddddd;
 }
 main{
   margin: 10%;
 }

.line{
    width: 100%; /* Define a largura da linha */
    height: 4px; /* Define a altura da linha */
    background-color: #2962b8; /* Define a cor da linha (preto neste caso) */
}

.line2{
    width: 100%; /* Define a largura da linha */
    height: 4px; /* Define a altura da linha */
    background-color: #2962b8; /* Define a cor da linha (preto neste caso) */
}

.line3{
    width: 100%; /* Define a largura da linha */
    height: 4px; /* Define a altura da linha */
    background-color: #2962b8; /* Define a cor da linha (preto neste caso) */
}

.textobonito:hover{
   color: #0297ce;
}

nav {
   position: fixed;
   top: 0;
   left: 90%;
 }
 
 
 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 
 nav ul li {
   display: inline; 
 }
 
 nav ul li a {
   display: block;
   padding: 10px 20px; 
   text-decoration: none; 
   color: #fff; 
 }
 
 nav ul li a:hover {
   color: #0297ce;
 }
