body {
    font-family: Arial, sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 44%, rgba(0,43,135,1) 100%);
    color: #ffffff;
    margin: 0;
    padding: 0;
 }
 .container {
    width: 70%;
    margin: auto;
    padding: 5px;
 }
 header {
    text-align: left;
 }

 h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: #ffffff;
 }
 .blue {
   font-size: 3em;
   margin: 0;
   color: #00AEEF;
   
}
.life{
   font-size: 1em;
   margin: 0;
   color: #ffffff;
}

 section {
    margin-bottom: 3%;
 }
 
 p {
    font-size: 1em;
    line-height: 1.5;
    color: #dddddd;
 }
 main{
   margin: 10%;
 }

.line{
    width: 100%; /* Define a largura da linha */
    height: 4px; /* Define a altura da linha */
    background-color: #2962b8; /* Define a cor da linha (preto neste caso) */
}

.line2{
    width: 100%; /* Define a largura da linha */
    height: 4px; /* Define a altura da linha */
    background-color: #2962b8; /* Define a cor da linha (preto neste caso) */
}

.line3{
    width: 100%; /* Define a largura da linha */
    height: 4px; /* Define a altura da linha */
    background-color: #2962b8; /* Define a cor da linha (preto neste caso) */
}

.textobonito:hover{
   color: #0297ce;
}
.cadastro2{
   
   text-align: center;
 }
 .botao {
   text-decoration: none;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin: 0 10px;
   background-color: #0297ce;
   color: #fff;
}

.botao:hover {
   background-color: #0056b3;
}
#menu {
   display: none;
   position: absolute;
   top: 40px;
   right: 10px;
   background-color: #0297ce;
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
   animation-name: example;
   animation-duration: 3s;
   animation-iteration-count: infinite;
 }
 
 #menu ul {
   list-style-type: none;
   padding: 0;
 }
 
 #menu ul li {
   margin-bottom: 10px;
 }
 
 #menu ul li a {
   text-decoration: none;
   color: #ffffff;
 }
 
 nav ul li a:hover {
   color: #0297ce;
 }
 #toggleMenu {
   border: none;
   cursor: pointer;
   
 }

 
 img{
   width: 2.5%; 
   height: auto; 
   position: absolute;
   top: 0%;
   right: 3%;
}

@keyframes example {
   0% {background-color: rgb(252, 252, 252); right: 0%;  top: 20px;}
   50% {background-color: rgb(33, 47, 71); right: 70px; top: 20px;}
   100% {background-color: rgb(18, 0, 122); right: 0%; top: 20px;}
}



/* Estilos para telas menores que 768px */
@media only screen and (max-width: 768px) {
   .container {
       width: 90%;
       padding: 10px;
   }
   h1 {
       font-size: 1.5em;
   }
   .blue {
       font-size: 2.5em;
   }
   .life {
       font-size: 0.8em;
   }
}

/* Estilos para telas menores que 576px */
@media only screen and (max-width: 576px) {
   .container {
       width: 95%;
       padding: 5px;
   }
   h1 {
       font-size: 1.2em;
   }
   .blue {
       font-size: 2em;
   }
   .life {
       font-size: 0.7em;
   }
}

/* Estilos para telas menores que 480px */
@media only screen and (max-width: 480px) {
   .container {
       width: 100%;
       padding: 0;
   }
   h1 {
       font-size: 1em;
   }
   .blue {
       font-size: 1.5em;
   }
   .life {
       font-size: 0.6em;
   }
}

/* Estilos para telas menores que 320px */
@media only screen and (max-width: 320px) {
   .container {
       width: 100%;
       padding: 0;
   }
   h1 {
       font-size: 0.8em;
   }
   .blue {
       font-size: 1em;
   }
   .life {
       font-size: 0.5em;
   }
}
