body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: aliceblue;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,155,1) 100%, );
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.nome{
    font-size: 3em;
}
img {
    width: 450px;
}
.buttons {
    margin-top: 20px;
}

.buttons a:hover {
    background-color: #0056b3;
}
.compre-agora{
    text-decoration: none;
    background-color:#00AEEF;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}
.para-que{
    text-decoration: none;
    background-color:#ffffff;
    color: #00AEEF;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}
.oceano {
    font-size: 1.em;
    margin: 0;
    color: #2fbcf0;
}
#menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #0297ce;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  #menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  #menu ul li {
    margin-bottom: 10px;
  }
  
  #menu ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  nav ul li a:hover {
    color: #0297ce;
  }
  #toggleMenu {
    border: none;
    cursor: pointer;
  }
 
  
  #toggleMenu{
    width: 2.5%; 
    height: auto; 
    position: absolute;
    top: 0%;
    right: 3%;
}
@keyframes example {
    0% {background-color: rgb(252, 252, 252); right: 0%;  top: 20px;}
    50% {background-color: rgb(33, 47, 71); right: 70px; top: 20px;}
    100% {background-color: rgb(18, 0, 122); right: 0%; top: 20px;}
}

/* Estilos para telas menores que 768px */
@media only screen and (max-width: 768px) {
  .nome {
      font-size: 2em;
  }
  img {
      width: 300px;
  }
}

/* Estilos para telas menores que 576px */
@media only screen and (max-width: 576px) {
  .nome {
      font-size: 1.5em;
  }
  img {
      width: 200px;
  }
  .container {
      max-width: 90%;
  }
}

/* Estilos para telas menores que 480px */
@media only screen and (max-width: 480px) {
  .nome {
      font-size: 1.2em;
  }
  img {
      width: 150px;
  }
}

/* Estilos para telas menores que 320px */
@media only screen and (max-width: 320px) {
  .nome {
      font-size: 1em;
  }
  img {
      width: 120px;
  }
}