body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,155,1) 100%, );
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgb(3,0,50);
    background: linear-gradient(0deg, rgb(124, 121, 163) 0%, rgb(223, 223, 226) 35%, rgba(255,255,255,1) 95%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #0297ce;
    max-width: 90%;
}

h1 {
    color: #333;
}

.options {
    margin-top: 20px;
}

a {
    background: #0297ce;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}


